<%# come back to payments later%>
<h1>Payment Results</h1>

<div>APR</div>
<div> <%= params.fetch("user_apr").to_f.round(4) %>% </div>
<div>Number of years<div>
<div> <%= params.fetch("user_years") %> </div>
<div>Principal</div>
<div> <%= params.fetch("user_principal").to_f.to_fs(:currency) %> </div>
<div>Payment</div>




<div> <%= @payment.round(2).to_f.to_fs(:currency) %> </div>

<div><p><a href="/square/new">Calculate another payment</a></p><div>
